<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Singly API ASP.Net MVC Example">
    <meta name="author" content="Andy Brudtkuhl">
    
    <title>Singly API Example</title>
    @Styles.Render("~/Content/bootstrap")
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Singly API Example <small>ASP.Net MVC and KnockoutJS</small></h1>
        </div>
        @RenderBody()
    </div> <!-- /container -->
    
    <!-- scripts -->
    @Scripts.Render("~/bundles/scripts")
    @Scripts.Render("~/bundles/bootstrap")
    
    @RenderSection("scripts", required:false)
</body>
</html>
